body,
html {
  background-color: black;
}

.canvas {
  position: relative;
}

.stars {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.experience,
.ghost {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

nav {
  position: absolute;
  top: 50vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 20px;
}

nav p {
  color: white;
  font-size: 40px;
  cursor: pointer;
  z-index: 5;
}
