body,
html {
  background-color: black;
}

.canvas {
  position: relative;
}

.stars {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

nav {
  position: absolute;
  top: 50vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 20px;
}

nav p {
  color: white;
  font-size: 40px;
  cursor: pointer;
  z-index: 5;
}

.sausage,
.ghost {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 2;
}

.sausageEnterFromLeft,
.ghostEnterFromLeft {
  animation: slideInLeft 1s;
}

.ghostExitToRight,
.sausageExitToRight {
  animation: slideOutRight 2s ease;
}

.sausageEnterFromRight,
.ghostEnterFromRight {
  animation: slideInRight 1s;
}

.ghostExitToLeft,
.sausageExitToLeft {
  animation: slideOutLeft 2s ease;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutRight {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(150%);
    opacity: 0;
  }
}

@keyframes slideOutLeft {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(-150%);
    opacity: 0;
  }
}

::-webkit-scrollbar {
  display: none;
}

.arrowleft {
  position: absolute;
  top: 90vh;
  left: 20vw;
  cursor: pointer;
  z-index: 5;
}

.arrowright {
  position: absolute;
  top: 90vh;
  right: 20vw;
  cursor: pointer;
  z-index: 5;
}
